<template>
  <div class="shadow">
    <div class="row">
      <div class="col text-center">
        <a :href="media['permalink']" target="_blank">
          <img :src="media['media_url']" alt="" class="img-fluid"/>
        </a>
      </div>
    </div>
    <hr />
    <div class="row px-2">
      <div class="col" title="Likes">
        <font-awesome-icon icon="heart" fixed-width></font-awesome-icon>
        {{ media['like_count'] }}
      </div>
      <div class="col" title="Comments">
        <font-awesome-icon icon="comment" fixed-width></font-awesome-icon>
        {{ media['comments_count'] }}
      </div>
      <div class="col" title="Saved">
        <font-awesome-icon icon="bookmark" fixed-width></font-awesome-icon>
        {{ media['saved'] }}
      </div>
      <div class="col" title="Engagement">
        <font-awesome-icon icon="plus" fixed-width></font-awesome-icon>
        {{ media['engagement'] }}
      </div>
    </div>
    <div class="row px-2">
      <div class="col"></div>
      <div class="col" title="Impressions">
        <font-awesome-icon icon="eye" fixed-width></font-awesome-icon>
        {{ media['impressions'] }}
      </div>
      <div class="col" title="Reach">
        <font-awesome-icon icon="users" fixed-width></font-awesome-icon>
        {{ media['reach'] }}
      </div>
      <div class="col"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Post',
  props: ['media']
}
</script>

<style scoped lang="scss">
.post-focused {
  outline: red auto thick;
}
</style>
