<template>
  <div class="container-fluid">

    <div class="row">
      <div class="col text-center">
        <h1>Dashboard</h1>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <div class="form-group">
          <label>
            <select class="custom-select" @change="onPageSelected">
              <option :key="0" value="0" disabled selected>Select a Page</option>
              <option v-for="page of pages" :key="page.igId" :value="page.igId">{{ page.name }}</option>
            </select>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <h3>Filter</h3>

        <div class="form-group mb-0">
          <label>
            <span>From</span>
            <InputDate class="form-control" v-model="filter.dateStart"></InputDate>
          </label>
        </div>

        <div class="form-group">
          <label>
            <span>To</span>
            <InputDate class="form-control" v-model="filter.dateEnd"></InputDate>
          </label>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <canvas id="chart" width="400" height="400"></canvas>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <h2>Posts</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4 pb-5" v-for="media of filteredMedias" :key="media['id']">
        <Post :key="media['id']" :id="media['domId']" :media="media"></Post>
      </div>
    </div>

  </div>
</template>

<script>
import FacebookSdk from '@/fb-sdk/fb-sdk';
import Post from '@/components/Instagram/Post';
import Chart from 'chart.js';
import InputDate from "@/components/InputDate";


// TODO: Add mounted event, and render async
export default {
  name: 'Dashboard',
  components: {InputDate, Post},
  props: ['pages'],
  data: function () {
    return {
      medias: [],
      chart: null,
      filter: {
        dateStart: new Date(0),
        dateEnd: new Date()
      }
    };
  },
  computed: {
    filteredMedias: function () {
      return this.medias
          .filter(media => this.filter.dateStart ? this.filter.dateStart.getTime() <= media.timestamp.getTime() : true)
          .filter(media => this.filter.dateEnd ? media.timestamp.getTime() <= this.filter.dateEnd.getTime() : true);
    }
  },
  watch: {
    filter: {
      handler: function () {
        this.updateChart();
      },
      deep: true
    }
  },
  mounted() {
    this.createChart();
  },
  methods: {
    createChart: function () {
      const $this = this;
      // noinspection JSUnusedGlobalSymbols
      this.chart = new Chart('chart', {
        type: 'bubble',
        data: {
          datasets: [{
            label: 'Posts Reach Score',
            data: [],
            backgroundColor: '#F27484',
            radius: 5,
          }]
        },
        options: {
          scales: {
            xAxes: [{
              type: 'time',
              position: 'bottom',
              scaleLabel: {
                display: false,
                labelString: 'Date'
              },
              time: {
                unit: 'day'
              }
            }],
            yAxes: [{
              type: 'linear',
              position: 'left',
              scaleLabel: {
                display: true,
                labelString: 'Reach Score'
              },
              ticks: {
                suggestedMin: 0,
                suggestedMax: 100
              }
            }]
          },
          onClick: function (e, tooltipItems) {
            document.querySelectorAll('.post-focused').forEach(el => el.classList.remove('post-focused'));

            const item = tooltipItems[0];
            const index = item._index;
            const media = $this.filteredMedias[index];
            const el = document.querySelector(`#${media.domId}`);
            el.scrollIntoView();
            el.classList.add('post-focused');
          },
          tooltips: {
            callbacks: {
              label: function (tooltipItem) {
                return `${tooltipItem.yLabel} Reach Score`;
              }
            }
          }
        }
      });
    },
    updateChart: function () {
      // TODO: Update chart options time unit based on filters
      const avgEngagement = this.filteredMedias.reduce((total, current) => total + current.engagement, 0) / this.filteredMedias.length;
      const AVG_BUBBLE_RADIUS = 6;
      const radiusMultiplier = 1 / avgEngagement * AVG_BUBBLE_RADIUS;
      this.chart.data.datasets[0].data = this.filteredMedias.map(media => {
        return {
          x: media.timestamp,
          y: media.reachScore,
          r: media.engagement * radiusMultiplier
        };
      });
      this.chart.update();
    },
    async onPageSelected(e) {
      const fb = FacebookSdk.Instance;
      const igId = e.target.value;

      const {data: mediaIds} = await fb.api(`/${igId}/media`);
      const mediaPromises = mediaIds.map(({id}) => {
        return Promise.all([
          fb.api(`/${id}?fields=comments_count,like_count,media_url,media_type,permalink,timestamp`),
          fb.api(`/${id}/insights?metric=engagement,reach,saved,impressions`)]
        );
      });

      const result = await Promise.all(mediaPromises);
      this.medias = result.map(([fields, insights]) => {
        const [engagement, reach, saved, impressions] = insights.data.map(insight => insight.values[0].value);
        const reachScore = Math.round(engagement / reach * 100);
        return {
          ...fields,
          timestamp: new Date(fields.timestamp),
          engagement,
          reach,
          saved,
          impressions,
          reachScore,
          domId: 'post' + fields.id
        };
      });
      this.updateChart();
    }
  }
}
</script>

<style scoped lang="scss">

</style>
