<template>
  <div>
    <!--suppress XmlUnboundNsPrefix -->
    <fb:login-button
        id="FacebookLoginButton"
        scope="public_profile,email,instagram_basic,instagram_manage_insights,pages_show_list,pages_read_engagement,business_management"
        onlogin="window.FacebookSdk.Instance.triggerLoginEvent();">
    </fb:login-button>
  </div>
</template>

<script>
export default {
  name: 'FacebookLogin'
}
</script>

<style scoped lang="scss"></style>
