<template>
  <!--suppress HtmlFormInputWithoutLabel -->
  <input type="date"
         :value="valueAsDate"
         @input="updateValue"
  />
</template>

<script>
export default {
  name: 'InputDate',
  props: {
    value: {
      type: Date,
      default: () => new Date()
    }
  },
  computed: {
    valueAsDate: function () {
      return this.value && this.value.toISOString().split('T')[0];
    }
  },
  methods: {
    updateValue: function (e) {
      this.$emit('input', e.target.valueAsDate);
    }
  }
}
</script>

<style scoped>

</style>
