<template>
  <div>
    <!--    <img alt="Vue logo" src="./assets/logo.png">-->
    <NavBar></NavBar>
    <div class="container">
      <FacebookLogin v-show="!Facebook.isLoggedIn"></FacebookLogin>
      <Dashboard v-show="Facebook.isLoggedIn" :pages="Facebook.pages"></Dashboard>
    </div>
  </div>
</template>

<script>
import FacebookSdk from "@/fb-sdk/fb-sdk";
import NavBar from "@/components/NavBar";
import Dashboard from "@/components/Dashboard";
import FacebookLogin from "@/components/FacebookLogin";


export default {
  name: 'App',
  components: {
    NavBar,
    Dashboard,
    FacebookLogin,
  },
  data: function () {
    return {
      Facebook: {
        isLoggedIn: false,
        userId: 0,
        pages: []
      }
    }
  },

  methods: {
    async setIsFacebookLoggedIn() {
      const fb = FacebookSdk.Instance;
      const status = await fb.getLoginStatus();
      this.Facebook.isLoggedIn = status === 'connected';
      if (!this.Facebook.isLoggedIn)
        return;

      const authResponse = fb.getAuthResponse();
      this.Facebook.userId = authResponse['userID'];
      // this.facebookPages = await FacebookSdk.Instance.api('');
      const accounts = await fb.api('/me/accounts');
      /** @type {Array} */
      const {data} = accounts;
      const igPromises = data.map(
          ({id, name}) =>
              fb.api(`/${id}?fields=instagram_business_account`).then(
                  igResponse =>
                      ({
                        id,
                        name,
                        igId: igResponse['instagram_business_account']?.id
                      })
              )
      );
      const igData = (await Promise.all(igPromises)).filter(({igId}) => igId);

      for (const {id, name, igId} of igData) {
        this.Facebook.pages.push({id, name, igId});
      }
    }
  },

  async mounted() {
    const $this = this;
    document.addEventListener(FacebookSdk.EVENT_LOGIN, $this.setIsFacebookLoggedIn);
    await FacebookSdk.init('2720684991477757');
    await this.setIsFacebookLoggedIn();
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
